spring:
  application:
    name: springsecurity
  sql:
    init:
      mode: always
  jpa:
    defer-datasource-initialization: true
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/mydb
    username: admin
    password: 123
    driver-class-name: com.mysql.cj.jdbc.Driver
